.map {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px; }

.toolbar {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  display: flex;
  flex-flow: column;
  z-index: 100; }

.menu {
  display: flex;
  flex-flow: column; }

.story-hud {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-flow: column;
  align-items: stretch; }
  .story-hud .header {
    flex: 25%;
    background-color: #ff0; }
  .story-hud .main {
    flex: 70%;
    display: flex;
    flex-flow: row; }
    .story-hud .main .left {
      background-color: #2a702a; }
    .story-hud .main .main {
      flex: 100%;
      background-color: #c21e99; }
    .story-hud .main .right {
      background-color: #191cc0; }
  .story-hud .footer {
    flex: 5%;
    background-color: #f00; }
