.map {
    position: fixed;

    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
}

.toolbar {
    position: absolute;

    top:10px;
    left:10px;

    width:100px;

    display:flex;

    flex-flow: column;

    z-index: 100;
}